*,
*::before,
*::after {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: #f3f2f1;
}

.app__workspace {
  display: flex;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}
